<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
       <!-- START user info-->

        <li class="mb-xl">
          <div class="panel-body mt-xl">
           <div class="">
              <div class="text-center">
                 <img src="/assets/logo_tru_400.png" alt="Image" class="img-thumbnail img-circle thumb128">
              </div>
           </div>
           <div class="text-center">
              <h3 class="text-white">มหาวิทยาลัยราชภัฏ<br>เทพสตรี </h3>
              <p class="text-muted">อําเภอเมืองลพบุรี ลพบุรี</p>
           </div>

          </div>  
        </li>

        <li class="bb mt">
          <%= link_to(raw("<em class='icon-speedometer'></em><span>รวมโปรไฟล์</span>") , profiles_path) %>
        </li>
        <li class="bb mt">
          <%= link_to(raw("<em class='icon-speedometer'></em><span>รวมโพส</span>") , posts_path) %>
        </li>

        
         
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->